<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Описание работы приложения</h1>
    <h2>Данное приложение предназначено для генерации паролей. В нем можно генерировать пароль от 6 до 14 символов,
        при этом выбрав из какий символов будет сформирован пароль. </h2>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>